name: Testing
on:
    push:
        branches: main
        paths-ignore:
            - "LICENSE"
            - "README.md"
            - "TODO.md"
            - "haxelib.json"
            - "hxformat.json"
    workflow_dispatch:
jobs:
    Windows:
        runs-on: windows-latest
        strategy:
            fail-fast: false
            matrix:
                sample: [alter-state, array, callback, module, override, pass-variable, return-value, simple-call, stack-dump, luau-syntax]
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Haxe
              uses: krdlab/setup-haxe@master
              with:
                  haxe-version: 4.3.6

            - name: Compiling
              run: |
                  haxelib install hxcpp --quiet
                  haxelib dev hxluau .
                  cd examples/${{matrix.sample}}
                  haxe build-win.hxml
    Linux:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                sample: [alter-state, array, callback, module, override, pass-variable, return-value, simple-call, stack-dump, luau-syntax]
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Haxe
              uses: krdlab/setup-haxe@master
              with:
                  haxe-version: 4.3.6

            - name: Compiling
              run: |
                  haxelib install hxcpp --quiet
                  haxelib dev hxluau .
                  cd examples/${{matrix.sample}}
                  haxe build-unix.hxml
    MacOS:
        runs-on: macos-latest
        strategy:
            fail-fast: false
            matrix:
                sample: [alter-state, array, callback, module, override, pass-variable, return-value, simple-call, stack-dump, luau-syntax]
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Haxe
              uses: krdlab/setup-haxe@master
              with:
                  haxe-version: 4.3.6

            - name: Compiling
              run: |
                  haxelib install hxcpp --quiet
                  haxelib dev hxluau .
                  cd examples/${{matrix.sample}}
                  haxe build-unix.hxml
